<!--  This template is used when the user clicks on the link sent via email to reset their password.
It allows them to enter a new password on a new web page. -->


{% extends "base.html" %}

{% block title %} Reset your password{% endblock %}

{% block content %}
  <h2>Reset your password</h2>
    {% if validlink %}
        <p>Please enter your password twice:</p>
        <form action="" method="post">
            {% csrf_token %}
    {#        {{ form.new_password1.label_tag }} {{ form.new_password1 }}#}
    {#        {{ form.new_password2.label_tag }} {{ form.new_password2 }}#}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
         </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
