<!-- This template is displayed after the user has submitted their email address for a password reset on the web page.
It informs them that an email has been sent with instructions to reset their password. -->


{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h2>Check Your Email</h2> <br>
            <p>We've sent you an email with instructions to reset your password. Please check your inbox and follow the provided link.</p>

        </div>
    </div>
</main>
{% endblock %}
